.stats{
    display: flex;
    gap: 15%;
    margin-left: 20px;
}

.stat{
    display: flex;
    flex-direction: column;
}

.stat-title{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.96;
}

.stat-value{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.86;
}